/////////////////////////////////////////////////////////////////////////////// body mein end m dalna hai ye //////////////////////////////////////////////////////////////////////////////

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Initialize Swiper -->
{{ 'custom.js' | asset_url | script_tag }}  

{{ '//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' | stylesheet_tag }}

{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' | stylesheet_tag }}


{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' | script_tag }}

{{ 'quickview.js' | asset_url | script_tag }}

<script>

  {% capture content %}{% include 'quickview' %}{% endcapture %}

  var content = {{ content | json }};

</script>

/////////////////////////////////////////////////////////////////////////// then quickview snippet bnana hai then ye code add krna hai ////////////////////////////////////////////////////////////////////////////

<div class="qv-product-images" style="opacity: 0"></div>

<div class="qv-content">

  <div class="holder">

    <h3 class="qv-product-title"></h3>

    <!-- <h4 class="qv-product-type"></h4> -->

    <h5 class="qv-product-price"></h5>

    <h5 class="qv-product-original-price"></h5>

    <hr />

    <div class="qv-add-to-cart">

      <div class="qv-product-options"></div>

      <div class="quantity">

        <span>Quantity</span>

        <input type="number" class="qv-quantity" value="1" min="1">

      </div>

      <div class="qv-product-description"></div>
      <input type="submit" class="qv-add-button" value="Add to Cart">

      <div class="qv-add-to-cart-response"></div>

    </div>

  </div>

  <a class="view-product" href=""><span>View Full Product Details</span></a>

</div>


/////////////////////////////////////////////////////////////////// then jahan show krwana button ko wahan ye line add krdo ////////////////////////////////////////////////////////////////////////


<div class="open_buttons">
    <div class="quick-view-button"><a class="quick-view" data-handle="{{ card_product.handle }}" href="javascript:void(0);">{% render 'eyeCatch' %}</a></div>
  </div>


///////////////////////////////////////////////////////////////// eyeCatch snippet svg k lye create krna  ////////////////////////////////////////////

<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2352 9.00043C12.2352 10.4854 11.0352 11.6854 9.55023 11.6854C8.06523 11.6854 6.86523 10.4854 6.86523 9.00043C6.86523 7.51543 8.06523 6.31543 9.55023 6.31543C11.0352 6.31543 12.2352 7.51543 12.2352 9.00043Z" stroke="#111827" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.54969 15.2025C12.1972 15.2025 14.6647 13.6425 16.3822 10.9425C17.0572 9.88504 17.0572 8.10754 16.3822 7.05004C14.6647 4.35004 12.1972 2.79004 9.54969 2.79004C6.90219 2.79004 4.43469 4.35004 2.71719 7.05004C2.04219 8.10754 2.04219 9.88504 2.71719 10.9425C4.43469 13.6425 6.90219 15.2025 9.54969 15.2025Z" stroke="#111827" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


//////////////////////////////////////////////////////////////////// quickview.js asset mein file create krna hai //////////////////////////////////////////////////////////////////////

$(document).ready(function () {

  $.getScript("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js").done(function() {

    quickView();

  });

});

 

function quickView() {

  $(".quick-view").click(function () {

    if ($('#quick-view').length == 0){$("body").append('<div id="quick-view"></div>');}

    var product_handle = $(this).data('handle');

    $('#quick-view').addClass(product_handle);

    jQuery.getJSON('/products/' + product_handle + '.js', function (product) {

      var title = product.title;

      var type = product.type;

      var price = 0;

      var original_price = 0;

      var desc = product.description;

      var images = product.images;

      var variants = product.variants;

      var options = product.options;

      var url = '/products/' + product_handle;

      $('.qv-product-title').text(title);

      $('.qv-product-type').text(type);

      $('.qv-product-description').html(desc);

      $('.view-product').attr('href', url);

      var imageCount = $(images).length;

      $(images).each(function (i, image) {

        if (i == imageCount - 1) {

          var image_embed = '<div><img src="' + image + '"></div>';

          image_embed = image_embed.replace('.jpg', '_800x.jpg').replace('.png', '_800x.png');

          $('.qv-product-images').append(image_embed);

 

          $('.qv-product-images').slick({

            'dots': false,

            'arrows': false,

            'respondTo': 'min',

            'useTransform': false

          }).css('opacity', '1');

 

        } else {

          image_embed = '<div><img src="' + image + '"></div>';

          image_embed = image_embed.replace('.jpg', '_800x.jpg').replace('.png', '_800x.png');

          $('.qv-product-images').append(image_embed);

        }

      });

      $(options).each(function (i, option) {

        var opt = option.name;

        var selectClass = '.option.' + opt.toLowerCase();

        $('.qv-product-options').append('<div class="option-selection-' + opt.toLowerCase() + '"><span class="option">' + opt + '</span><select class="option-' + i + ' option ' + opt.toLowerCase() + '"></select></div>');

        $(option.values).each(function (i, value) {

          $('.option.' + opt.toLowerCase()).append('<option value="' + value + '">' + value + '</option>');

        });

      });

      $(product.variants).each(function (i, v) {

        if (v.inventory_quantity == 0) {

          $('.qv-add-button').prop('disabled', true).val('Sold Out');

          $('.qv-add-to-cart').hide();

          $('.qv-product-price').text('Sold Out').show();

          return true

        } else {

          price = parseFloat(v.price / 100).toFixed(2);

          original_price = parseFloat(v.compare_at_price / 100).toFixed(2);

          $('.qv-product-price').text('$' + price);

          if (original_price > 0) {

            $('.qv-product-original-price').text('$' + original_price).show();

          } else {

            $('.qv-product-original-price').hide();

          }

          $('select.option-0').val(v.option1);

          $('select.option-1').val(v.option2);

          $('select.option-2').val(v.option3);

          return false

        }

      });

    });

 

    $(document).on("change", "#quick-view select", function () {

      var selectedOptions = '';

      $('#quick-view select').each(function (i) {

        if (selectedOptions == '') {

          selectedOptions = $(this).val();

        } else {

          selectedOptions = selectedOptions + ' / ' + $(this).val();

        }

      });

      jQuery.getJSON('/products/' + product_handle + '.js', function (product) {

        $(product.variants).each(function (i, v) {

          if (v.title == selectedOptions) {

            var price = parseFloat(v.price / 100).toFixed(2);

            var original_price = parseFloat(v.compare_at_price / 100).toFixed(2);

            var v_qty = v.inventory_quantity;

            var v_inv = v.inventory_management;

            $('.qv-product-price').text('$' + price);

            $('.qv-product-original-price').text('$' + original_price);

            if (v_inv == null) {

              $('.qv-add-button').prop('disabled', false).val('Add to Cart');

            } else {

              if (v.inventory_quantity < 1) {

                $('.qv-add-button').prop('disabled', true).val('Sold Out');

              } else {

                $('.qv-add-button').prop('disabled', false).val('Add to Cart');

              }

            }

          }

        });

      });

    });

    $.fancybox({

      href: '#quick-view',

      maxWidth: 1040,

      maxHeight: 600,

      fitToView: true,

      width: '75%',

      height: '70%',

      autoSize: false,

      closeClick: false,

      openEffect: 'none',

      closeEffect: 'none',

      'beforeLoad': function () {

        var product_handle = $('#quick-view').attr('class');

        $(document).on("click", ".qv-add-button", function () {

          var qty = $('.qv-quantity').val();

          var selectedOptions = '';

          var var_id = '';

          $('#quick-view select').each(function (i) {

            if (selectedOptions == '') {

              selectedOptions = $(this).val();

            } else {

              selectedOptions = selectedOptions + ' / ' + $(this).val();

            }

          });

          jQuery.getJSON('/products/' + product_handle + '.js', function (product) {

            $(product.variants).each(function (i, v) {

              if (v.title == selectedOptions) {

                var_id = v.id;

                processCart();

              }

            });

          });

          function processCart() {

            jQuery.post('/cart/add.js', {

              quantity: qty,

              id: var_id

            },

                        null,

                        "json"

                       ).done(function () {

              $('.qv-add-to-cart-response').addClass('success').html('<span>' + $('.qv-product-title').text() + ' has been added to your cart. <a href="/cart">Click here to view your cart.</a>');

            })

            .fail(function ($xhr) {

              var data = $xhr.responseJSON;

              $('.qv-add-to-cart-response').addClass('error').html('<span><b>ERROR: </b>' + data.description);

            });

          }

        });

        $('.fancybox-wrap').css('overflow', 'hidden !important');

      },

      'afterShow': function () {

        $('#quick-view').hide().html(content).css('opacity', '1').fadeIn(function () {

          $('.qv-product-images').addClass('loaded');

        });

      },

      'afterClose': function () {

        $('#quick-view').removeClass().empty();

      }

    });

  });

};

 

$(window).resize(function () {

  if ($('#quick-view').is(':visible')) {

    $('.qv-product-images').slick('setPosition');

  }

});



///////////////////////////////////////////////////////////////////////// quick view style /////////////////////////////////////////////////////////////////////


/* ----------------Quick View Style Close---------------- */


#quick-view {

  display: flex;

  height: 100%;

  justify-content: flex-end;

  flex-wrap: wrap;

  position: relative;

  -ms-overflow-style: -ms-autohiding-scrollbar;

}

 

#quick-view .qv-product-images {
  width: 50%;
  height: auto;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  left: 30px;
  top: 0;
  height: 100%;
}

 

#quick-view .slick-list,

#quick-view .slick-track {

  height: calc(100% - 12px);

}

 

#quick-view .slick-initialized .slick-slide {

  display: flex;

  flex-direction: column;

  justify-content: center;

}

 

#quick-view .slick-slide {
  padding: 0 50px;
  height: 100%;
  position: relative;
  background: #f6f6f6;
}

 

#quick-view .slick-slide img {

  margin: 0 auto;

  max-height: 100%;

  position: absolute;

  top: 50%;

  left: 50%;

  width: auto;

  height: auto;

  -webkit-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);

}

 

#quick-view .slick-dots {

  right: auto;

  left: 50%;

  bottom: 10px;

  -webkit-transform: translateX(-50%);

  transform: translateX(-50%);

}

 

#quick-view .slick-dots li {

  margin: 0 8px 0 0;

}

 

#quick-view .slick-dots li button {

  background-color: #cacaca;

  width: 12px;

  height: 12px;

}

 

#quick-view .slick-dots li.slick-active button {

  background-color: #0056a5;

}

 

#quick-view .qv-content {
  width: 45%;
  height: calc(100% - 40px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  overflow: auto;
  box-sizing: border-box;
}

 

#quick-view .qv-content > * {

  width: calc(100% - 25px);

  box-sizing: border-box;

}

 

#quick-view .qv-product-title {
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.03em;
  margin-bottom: 20px;
}

 

#quick-view .qv-product-type {

  color: #a18466;

  font-family: 'proxima-nova-semibold';

  text-transform: lowercase;

}

 

#quick-view .qv-product-price,

#quick-view .qv-product-original-price {

  display: inline-block;

  color: #5a5a5a;

  margin-bottom: 0;

}

 

#quick-view .qv-product-original-price {

  margin-left: 8px;

  text-decoration: line-through;

  color: #000;

}

 

#quick-view .option-selection-title {

  display: none;

}

 

#quick-view hr {

  border-top: 1px solid #f5f5dc;

  margin: 15px 0 20px;

}

 

#quick-view .quantity {

  margin-bottom: 25px;

}

 

#quick-view .quantity span {
  display: inline-block;
  min-width: 100px;
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--black);
}

.qv-product-description h2 {
  color: var(--black);
  margin: 10px 0px;
  font-family: SpaceGrotesk Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.42px;
  letter-spacing: -.03em;
  text-align: left;
  overflow: hidden;
}

.qv-product-description p {
  color: var(--black);
  margin-bottom: 6px;
  font-family: SpaceGrotesk Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.42px;
  letter-spacing: -.03em;
  text-align: left;
  height: 40px;
  overflow: hidden;
}

#quick-view .quantity input[type="number"] {
  width: 133px;
  text-align: center;
  -moz-appearance: textfield;
  margin-left: 0;
  border: none;
  padding: 0px !important;
  height: 35px;
}

 

#quick-view .quantity input[type="number"]:focus {

  outline: none;

  border: 1px solid #0056a5;

  display: inline-block;

}

 

#quick-view .quantity input[type=number]::-webkit-inner-spin-button,

#quick-view .quantity input[type=number]::-webkit-outer-spin-button {

  -webkit-appearance: none;

  margin: 0;

}

#quick-view .qv-product-options > div {
  margin-bottom: 8px;
}

.option-selection-size select {
  background: #fff;
  border: unset;
  padding: 10px;
  width: 40%;
  font-size: 14px;
}

#quick-view .qv-product-options span {
  display: inline-block;
  min-width: 100px;
  font-size: 18px;
  letter-spacing: 0px;
  color: var(--black);
}

#quick-view .qv-add-button {
  border: 0;
  width: 60%;
  background: var(--primary-main-color);
  color: var(--white);
  margin: 10px 0;
  border-radius: 50px;
  font-family: SpaceGrotesk Medium;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.03em;
  text-align: center;
  padding: 10px 0;
  cursor: pointer
}

#quick-view .qv-add-button:hover {
  background-color: #0056a5;
}

 

#quick-view .qv-add-button:focus {

  background-color: #3a3a3a;

  outline: none;

}

 

#quick-view .qv-add-button:disabled {

  background-color: #ccc;

}

 

#quick-view .qv-add-to-cart-response {
  margin-top: 0px;
  display: none;
  font-size: 12px;
  letter-spacing: 0px;
  background: #0056a517;
}

 

.qv-add-to-cart-response.success,
.qv-add-to-cart-response.error {
  display: block !important;
  padding: 8px;
  border: 1px solid;
}

.qv-add-to-cart-response.success {
  border-color: #0056a517;
  color: #0056a5;
  border: none;
}

.qv-add-to-cart-response.success a {
  color: #0056a5;
  text-decoration: underline;
}

 

#quick-view .qv-add-to-cart-response.error {

  border-color: #0056a5;

  color: #0056a5;

}

 

.qv-product-description {

  padding: 20px 0 30px;

}

 

.view-product {

  display: inline-block;

  text-transform: uppercase;

  letter-spacing: 0.05em;

  font-family: 'proxima-nova-semibold';

}


.view-product span {
  color: #0056a5;
  border-bottom: 2px solid #0056a5;
}

#quick-view .quantity:before,
#quick-view .quantity:after{
  display: none;
} 

.view-product:hover span {

  color: #0056a5;

  border-bottom: 2px solid #0056a5;

}

 

.quick-view-button {

  text-align: center;

}

 

.quick-view-button a {
  width: 100%;
  display: block;
  color: #fff;
}

 

@media (max-width: 1200px) {

  #quick-view .qv-product-images,

  #quick-view .qv-content {

    width: 50%;

  }

 

  #quick-view .qv-content {

    padding-left: 60px;

  }

 

  .slick-slide {

    padding: 0;

  }

}

 

@media (max-width: 900px) {

  #quick-view {

    display: block;

    height: calc(100% - 40px);

    -webkit-transform: translateY(20px);

    transform: translateY(20px);

  }

 

  #quick-view .qv-product-images {

    top: 0;

    left: 0;

    height: 50%;

    max-height: 350px;

    position: relative;

    width: 100%;

  }

 

  #quick-view .slick-slide {

    position: relative;

  }

 

  #quick-view .slick-slide img {

    width: auto;

    display: inline-block;

    max-width: 300px;

  }

 

  #quick-view .slick-slide img {

    max-height: 300px;

    margin: 0 auto;

    position: relative;

    top: auto;

    left: auto;

    -webkit-transform: none;

    transform: none;

    height: 100%;

    width: auto;

  }

 

  #quick-view .slick-dots {

    bottom: 0;

  }

 

  #quick-view .qv-content {

    width: 100%;

    height: auto;

    padding: 0 10px 10px 30px;

    overflow: auto;

    -webkit-transform: none;

    transform: none;

  }

 

  #quick-view .slick-initialized .slick-slide {

    display: block;

    text-align: center;

  }

}

