<mobile-header>
  <ul>
    {%- for link in section.settings.menu.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>
        {%- if link.links != blank -%}<span><svg width="18" height="18" viewBox="0 0 20 20" aria-hidden="true" focusable="false" role="presentation" class="icon"><path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path></svg></span>{% endif %}
        
        {%- if link.links != blank -%}
          <ul class="sub-menu">
            {%- for child_link in link.links -%}
              <li>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  - {{ child_link.title }}
                </a>
                {%- if child_link.links != blank -%}<span><svg width="18" height="18" viewBox="0 0 20 20" aria-hidden="true" focusable="false" role="presentation" class="icon"><path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path></svg></span>{% endif %}
                {%- if child_link.links != blank -%}
                  <ul class="sub-menu">
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          -- {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
</mobile-header>

<script>
$('mobile-header ul li').find('span').on('click',function(e){
 $(this).siblings('.sub-menu').slideToggle('slow');
});
 $('mobile-header ul li .sub-menu li').find('span').on('click',function(e){
 $(this).siblings('.sub-menu').show();
});
  

setTimeout(function(){
$('mobile-header').hide();
$('.main-menu__toggle').on('click',function(){
 $('mobile-header').slideToggle('fast');
  $('body').removeClass('overflow-hidden');
});
},1000);
  
</script>
